.out
.vs
.vscode
**/.vscode
**.vcxproj
**.vcxproj.**
**/Makefile

**.sln
**/**.o
**/**.obj
**/**.exe
**/**.out
**/**.csv

class/**.cpp
class/**.c
class/**.txt
class/**.h
class/**.hpp

cp/*.cpp
cp/*.c
cp/*.txt
cp/*.h
cp/*.hpp


