.out
.vs
**.vcxproj
**.vcxproj.**

**.sln
**/**.o
**/**.obj
**/**.exe
**/**.out

class/**.cpp
class/**.c
class/**.txt
class/**.h
class/**.hpp

cp/*.cpp
cp/*.c
cp/*.txt
cp/*.h
cp/*.hpp


